.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.leftCard {
  flex: 1;
  background-color: white;
  padding: 10px;
  overflow-y: scroll;
}

.rightCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(15,15,15);
  border-left: 2px solid black;
  padding: 10px;
}

.input {
  display: inline-block;
  justify-content: center;
  margin: 5px auto 5px auto;
  appearance: none;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 13px;
  height: 20px;
  width: 400px;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input::placeholder{
  color: rgb(100, 100, 100);
}

.label{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

.buttonContainerRight{
    display: flex;
}

.saveButton {
  justify-content: center;
  margin: 5px auto;
  width: 200px;
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.saveButton:hover {
  background-color: lightgreen;
}

.deleteButton {
  justify-content: center;
  margin: 5px auto;
  width: 200px;
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.deleteButton:hover {
  background-color: salmon;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px auto;
}

th, td {
  border: 1px solid lightgrey;
  padding: 8px;
  text-align: left;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

td:hover{
  color: gray;
  text-decoration: underline;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 2px auto 4px 8px;
  padding: 0;
}

.createPasswordButton {
  justify-content: center;
  margin: 5px auto;
  width: 400px;
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.createPasswordButton:hover{
  background-color: rgb(215, 250, 30);
}

.searchbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 50px;
}

.searchbarInput {
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  appearance: none;
  padding: 5px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  height: 20px;
  width: 220px;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchbarInput::placeholder{
  color: rgb(100, 100, 100);
}

.searchButton{
  display: inline-block;
  margin: 5px auto;
  margin-left: 8px;
  width: 35px;
  height: 35px;
  padding: 2px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1565C0;
}

.searchButton:hover{
  background-color: #2979FF;
}
